* {
    margin: 0;
    padding: 0;
}
.cv{
    width: 1050px;
    height: 1380px;
    display: flex;
}

.aside {
    width: 400px;
    height: 1554px;
    background-color: rgb(12, 128, 118);
}

.contacts h3{
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;

}

.contacts ul{
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;

}

a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.fas,
.fab {
    font-size: 20px;
    padding-bottom: 20px;
}

li:last-child{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.language h3{
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;

}

.language p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 20px;
}

.skills h3{
    padding-top: 40px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.skills li{
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    color: #fff;
}

.main-block {
    width: 500px;
    height: 1454px;
    padding-left: 100px;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
}

.name {
    font-size: 35px;; 
}



.name p{
    padding-top: 10px;
    font-size: 25px;
    color: gray; 
}

.date {
    padding-top: 50px;
    font-size: 25px;
}

.date p{
    padding-top: 10px;
    font-size: 20px;
    color: gray;
}

.experience,
.education,
.courses {
    padding-top: 50px;
    font-size: 25px;
}

.experience p{
    padding-top: 10px;
    font-size: 25px;
}

.education p{
    padding-top: 10px;
    font-size: 25px;
}

.courses p{
    padding-top: 10px;
    font-size: 25px;
}

span {
    padding-top: 10px;
    font-size: 20px;
    color: gray;
}




